/* src/styles/Background.css */
.background {
  background-image: url('../assets/background.png'); /* Замените путь на реальный путь к вашему изображению */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}